$primary-color: hsl(322, 100%, 66%);

$main-light: hsl(193, 100%, 96%);
$main-dark: hsl(192, 100%, 9%);
$main-color: hsl(208, 11%, 55%);

$main-font: 'Open Sans', sans-serif;
$heading-font: 'Poppins', sans-serif;
